<!-- Formulario do site (inicio) -->
<form method="put">
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="container-sm p-0 py-2 mx-0">
      <p id="titulo-form" class="h2 d-none d-lg-block">
        Informe seu email para receber ofertas exclusivas
      </p>
      <p id="titulo-form" class="h2 d-lg-none">Receba ofertas exclusivas</p>
    </div>
    <div class="container-sm d-flex align-items-center p-0 mx-0">
      <div
        class="container-sm d-flex flex-column align-items-center justify-content-center"
      >
        <label for="nome" class="form-label">Insira seu nome</label>
        <input type="text" id="nome" class="form-control" />
      </div>
      <div
        class="container-sm d-flex flex-column align-items-center justify-content-center"
      >
        <label for="email" class="form-label">Insira seu email</label>
        <input type="email" id="email" class="form-control" />
      </div>
      <div class="container-xs p-0 mx-0 d-flex">
        <button
          id="botao-form"
          onclick="pegaDados()"
          type="submit"
          class="btn btn-outline-light pt-1 mx-0"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
<!-- Formulario do site (fim) -->

<!-- Footer do site -->
<footer class="container-fluid">
  <div class="container-fluid d-flex align-items-start justify-content-center">
    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Conta</p>
      <p class="fs-5">Meus pedidos</p>
      <p class="fs-5">Cadastrar</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Departamentos</p>
      <p class="fs-5">Periféricos</p>
      <p class="fs-5">Computadores</p>
      <p class="fs-5">Notebooks</p>
      <p class="fs-5">Hardware</p>
      <p class="fs-5">Consoles</p>
      <p class="fs-5">Monitores</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Redes Sociais</p>
      <p class="fs-5">Instagram</p>
      <p class="fs-5">Facebook</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center d-none d-lg-block"
    >
      <p class="fs-2">SAC</p>
      <p class="fs-5">(XX) XXXXX-XXXX</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center d-none d-lg-block"
    >
      <p class="fs-2">Fale Conosco</p>
      <p class="fs-5">seuemail@mail.com.br</p>
    </div>
  </div>
</footer>
