
<!-- Footer do site -->
<footer class="container-fluid">
  <div class="container-fluid d-flex align-items-start justify-content-center">
    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Conta</p>
      <p class="fs-5">Meus pedidos</p>
      <p class="fs-5">Cadastrar</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Departamentos</p>
      <p class="fs-5">Periféricos</p>
      <p class="fs-5">Computadores</p>
      <p class="fs-5">Notebooks</p>
      <p class="fs-5">Hardware</p>
      <p class="fs-5">Consoles</p>
      <p class="fs-5">Monitores</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center"
    >
      <p class="fs-2">Redes Sociais</p>
      <p class="fs-5">Instagram</p>
      <p class="fs-5">Facebook</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center d-none d-lg-block"
    >
      <p class="fs-2">SAC</p>
      <p class="fs-5">(XX) XXXXX-XXXX</p>
    </div>

    <div
      class="container-sm p-0 mx-0 d-flex flex-column align-items-center justify-content-center d-none d-lg-block"
    >
      <p class="fs-2">Fale Conosco</p>
      <p class="fs-5">seuemail@mail.com.br</p>
    </div>
  </div>
</footer>
