/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Poppins:wght@100;300;400;500&display=swap");
*{font-family: "Laila", sans-serif;}
html, body { height: 100%; 
  background-color: #2e2c2c ;
}

p,
a,
label {
  color: white;
  text-align: justify;
  padding: 10px;
}
a:hover {
    color: black;
    box-shadow: 0 0 100px #0000;
    transition: 0.5s;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
