main{
  background-color:  #2e2c2c;
}

#slide2,
#slide3 {
  width: 100%;
  height: auto;
}


#nomeproduto {
  border: medium solid white;
  border-radius: 7%;
  cursor: pointer;
}

#sobre {
  display: flex;
  text-align: justify;
  margin-right: 10px;
}

#central {
  width: 100%;
  height: auto;
  background-color: #023e8e;
  text-align: justify;
  justify-content: center;
}

hr {
  color: white;
}
#topico {
  padding-top: 30px;
  padding-bottom: 15px;
}
form {
  background-color: #0258c8;
}
input {
  font-family: "Laila", sans-serif;
  height: 20px;
}
