<main>

  <div class="container-fluid mx-0 p-0" id="banner">
  
      <img id="slide1" class="img-fluid" src="assets/img/destaque.png" alt="slide 1">
      <img id="slide2" class="img-fluid" src="assets/img/slide2.png" alt=" slide 2">
      <img id="slide3" class="img-fluid" src="assets/img/slide3.png" alt=" slide 3">
      
  
    </div>
   <!-- Titulo das Categorias -->
   <div class="container d-flex flex-column justify-content-center align-items-center pt-5 h-auto ">
      <p class="h1">Categorias</p>
      <div class="container w-50 p-1">
        <hr />
      </div>
    </div>
  
      <!-- sessao das categorias -->
    <section class="container-fluid d-flex p-3 ">
          <div  class="container-md d-flex flex-column align-items-center justify-content-center p-3">  
            <img class="img-fluid h-100 d-none d-lg-block" src="assets/img/consoles.png" alt="Consoles" />
  
            <div id="topico">
              <p id="nomeproduto" class="fs-5 p-3 d-none d-lg-block ">Consoles</p>
            </div>
            
          </div>
  
          <div class="container-md d-flex flex-column align-items-center justify-content-center p-3">
            <img class="img-fluid" src="assets/img/Notebooks.png" alt="Notebooks" />
            <div id="topico">
              <p id="nomeproduto" class="fs-5 p-3">Notebooks</p>
            </div>
            
          </div>
  
  
          <div class="container-md d-flex flex-column align-items-center justify-content-center p-3  ">
  
          
            <img class="img-fluid " src="assets/img/Perifericos.png" alt="Perifericos" />
            <div id="topico">
              <p id="nomeproduto" class="fs-5 p-3  ">Perifericos</p>
            </div>
          
          </div>
            
            
        
        
          
          <div class="container-md d-flex flex-column align-items-center justify-content-center p-3" > 
            <img class="img-fluid d-none d-lg-block" src="assets/img/Hardware.png" alt="Hardware" />
            <div id="topico">
            <p  id="nomeproduto" class=" fs-5 p-3 d-none d-lg-block ">Hardware</p>
            </div>
          </div>
  
  
      </section>
  
    <!-- Fim da sessao categorias -->
  
  
    
  
  
  
      <!-- Topico central da pagina (inicio) -->
    <section>
      <div id="central"  class="container-fluid d-flex align-items-center justify-content-center  h-100 p-5 " >
        <div class="d-none d-lg-block">
          <div class="container-md h-auto p-3">
            <img class="img-fluid h-100 w-100 " src="assets/img/img_central.png" alt="Imagem central da página">
          </div>
        </div>
        
        <div id="central" class="container-md d-flex flex-column align-items-center ">
          <div class="container-sm  ">
            <p class="h1 d-flex justify-content-center">Quem somos</p>
          </div>
  
          <div class="container-sm  fs-5 p-5 ">
            <p>Somos uma empresa de vendas completamente dedicadas e inserida no mundo dos games e da tecnologia, venha nos conhecer melhor!</p>
          <a class="" href="#">Saiba mais -></a>   
          </div>
        </div>
  
  
      </div>
    </section>
  
      <!-- Fim do topico central -->
  
  
        
      <!-- Titulo da sessao mais comprados -->
      <div class="container d-flex flex-column justify-content-center align-items-center pt-5 h-auto ">
        <p class="h1">Mais Comprados</p>
        <div class="container w-50 p-1">
          <hr />
        </div>
      </div>
      <!-- Fim do titulo -->
  
  
      <!-- Sessao mais comprados(inicio) -->
  
  
      <section class="container-fluid d-flex p-3 ml-0  ">
  
        <div class="container-md d-flex flex-column align-items-center justify-content-center p-3 mw-5-%">  
          <img class="img-fluid d-none d-lg-block" src="assets/img/Produto.png" alt="NomeProduto" />
      
          <div id="topico">
            <p id="nomeproduto" class="fs-5 p-3 d-none d-lg-block">NomeProduto</p>
          </div>
          
        </div>
      
        <div class="container-md d-flex flex-column align-items-center justify-content-center p-3">
          <img class="img-fluid " src="assets/img/Produto.png" alt="NomeProduto" />
          <div id="topico">
            <p id="nomeproduto" class="fs-5 p-3">NomeProduto</p>
          </div>
        
        </div>
      
      
        <div class="container-md d-flex flex-column align-items-center justify-content-center p-3">
            <img class="img-fluid" src="assets/img/Produto.png" alt="NomeProduto" />
            <div id="topico">
              <p id="nomeproduto" class="fs-5 p-3">NomeProduto</p>
            </div>
            
        </div>
        
      
        <div class="container-md d-flex flex-column align-items-center justify-content-center p-3"> 
          <img class="img-fluid d-none d-lg-block" src="assets/img/Produto.png" alt="NomeProduto" />
          <div id="topico">
            <p  id="nomeproduto" class=" fs-5 p-3 d-none d-lg-block">NomeProduto</p>
          </div>
        </div>
      
      </section>
      <app-footer></app-footer>
</main>